{% extends 'base.html' %}
{% block title %}Add Post{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/add_post.css' %}"/>
<link rel="stylesheet" href="{% static '../static/css/post_form.css' %}"/>

    <section class="all_back">
        {% if user.is_authenticated %}
            <h1>Add NoticeBoard Post</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Post</button>
                </form>
            </div>
            <script>
                /* First we collect the ID of the current user */
                var user = "{{ user.id }}";
                /* Then assign it to the 'id_author' value */
                document.getElementById('id_author').value = user;
                /* We then collect the parentNode of the element */
                var p_val = document.querySelector('#id_author').parentNode;
                /* And hid the whole block */
                p_val.style.display = 'none'
                /* This Can be found in 'view source' and be edited via the console */
            </script>
        {% else %}
        <div>
            <h1>
                Please Sign-In or Sign-Up to add a Post on the NoticeBoard
            </h1>
            <a class="sign_in" href="{% url 'login' %}">
                <div>Sign-In</div>
            </a>
            <a class="sign_up" href="{% url 'register' %}">
                <div>Sign-Up</div>
            </a>
            <a class="sign_up" href="{% url 'homepage' %}">
                <div>Home</div>
            </a>

        </div>
        {% endif %}
    </section>

{% endblock %}
