{% extends 'base.html' %}
{% block title %}Article Details{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/detailed.css' %}"/>
    <section class="all_back">
        <h1>
            Article Details
        </h1>
        <div class="daBlock">
            <h1>{{ post.title }}</h1>
            <h3>{{ post.author.first_name }}    </h3>
            <h3>{{ post.author.last_name }}     </h3>
            <h3>{{ post.author.email }}         </h3>
            <h3>{{ post.body }}                 </h3>
            <h4>{{ post.add_on }}               </h4>
            <h4>{{ post.color }}                </h4>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}">Update Post</a>
                    <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}
