{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/nav.css' %}"/>
    <link rel="stylesheet" href="{% static '../static/css/base.css' %}"/>

    <title>NixLyn_Labs</title>
</head>
<body>
    <nav>
        <div class="mNav">
            <a href="{% url 'homepage' %}">
                <div class="logo">
                    <h1>NL_Labs</h1>
                </div>
            </a>
            <div class="dash_board">
                {% if user.is_authenticated %}

                <a class="to_dash">
                    <div>My Dash</div>
                </a>
                <a class="new_post" href="{% url 'add_post' %}">
                    <div>New Post</div>
                </a>
                <a class="sign_in" href="{% url 'logout' %}">
                    <div>Sign-Out</div>
                </a>

                {% else %}
                <a class="sign_in" href="{% url 'login' %}">
                    <div>Sign-In</div>
                </a>

                <a class="sign_up" href="{% url 'register' %}">
                    <div>Sign-Up</div>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    {% block content %}

    {% endblock %}
    
</body>
</html>