
<body>
    <section>
        <h1>
            Welcome to NixLyn_Labs
        </h1>
    </section>
    <section>
        <h1>NoticeBoard</h1>
        <!-- USING JINJA -->
        <ul style="background-color: chartreuse; padding: 10px 10px; margin: 10px 10px;">
            {% for post in object_list %}
            <!--  ! Using the Django version of Jinja  -->
            <!--  ! We Have a potential Vulnerablity exploit -->
            <!--  ! With the 'post.pk' being the primary_key -->
            <a href="{% url 'article-details' post.pk %}">
                <li>{{ post.title }}</li>
                <li>{{ post.author }}</li>
                <li>{{ post.body }}</li>
                <br>
            </a>
            {% endfor %}
        </ul>
    </section>
</body>
</html>