{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/posts.css' %}"/>
<section class="post_sect">

    <h1 class="post_head_line">
        NoticeBoard
    </h1>

    <!-- USING Django version of Jinja -->
    <div class="post_box">
        <ul class="post_list" >
            {% for post in object_list %}
                <li class="post_block" style="background-color: {{ post.color }};">
                    <a class="post_click" href="{% url 'article-details' post.pk %}">
                        <div class="post_title"> {{ post.title }}       </div>
                        <div class="post_author">{{ post.author }}      </div>
                        <div class="post_body">  {{ post.body }}        </div>
                        <div class="post_color"> {{ post.color }}       </div>
                        <br>
                    </a>
                </li>
            {% endfor %}
            <br>
        </ul>
    </div>

</section>

{% endblock %}