{% extends 'base.html' %}
{% block title %}Update Post{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/update_post.css' %}"/>
<link rel="stylesheet" href="{% static '../static/css/post_form.css' %}"/>

    <section class="all_back">
        <h1>
            Update NoticeBoard Post
        </h1>
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form_title">    {{ form.title }}    </div>
                    <div class="form_body">     {{ form.body }}     </div>
                    <div class="form_sidenote"> {{ form.add_on }} </div>
                    <div class="form_color">    {{ form.color }}    </div>
                    <button>Update_Post</button>
                </form>
            </div>
        {% endif %}
        {% else %}
        <h1>
            You are not authenterized to edit this post
        </h1>
        {% endif %}
    </section>
{% endblock %}
