.form_title {
    padding: 10px 10px;
}


.form_author {
    padding: 10px 10px;
}

.form_body {
    padding: 10px 10px;
}


.form_sidenote {
    padding: 10px 10px;
}


.form_color {
    padding: 10px 10px;
}


