
.post_sect {
    width: 100vw;
    height: 100vh;
    background-image: url('../pics/vinatage_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
}

.post_head_line {
    border: 0;
    background-color: rgba(156, 85, 19, 0.226);
    border-radius: 0.3rem;
    font-size: xx-large;
    text-decoration: none;
}


.post_box {
    width: 97%;
    height: 85%;
    border-radius: 0.3rem;
    background-color: rgba(161, 137, 0, 0.288);
    border-radius: 0.3rem;
    text-decoration: none;
    display: flex;
    overflow: scroll;
}



.post_list {
    border: 0;
    background-color: rgba(161, 161, 0, 0);
}


.post_block {
    width: 85%;
    padding: 10px 10px;
    margin: 5px 5px;
    border-top-left-radius: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.post_click {
    border-radius: 50px;
    background-color: rgba(0, 161, 0, 0);
    border-radius: 0.3rem;
    font-size: large;
}

.post_title {
    font-size: x-large;
    text-decoration: none;
}
.post_author {
    font-size: medium;
    text-decoration: none;
}
.post_body {
    font-size: medium;
    text-decoration: none;
}
.post_color{
    font-size: small;
    text-decoration: none;
}